.single-nav
	margin-bottom 30px
	padding-left 25px
	padding-right 25px
	font-size 0
	clearfix()
	a
		border-bottom 1px solid $color-bg
		display inline-block
		vertical-align top
		font-family $rubik-bold
		font-size 21px
		color $color-bg
		text-decoration none
		&:hover
			color $color-bg10
	&__link_prev
		float left
	&__link_next
		float right

