include ../single-nav/single-nav
include ../breadcrumbs/breadcrumbs


mixin content-single()
	+breadcrumbs()
	+b.content.content-single&attributes(attributes)
		+b('article').article
				+e('header').header
					//- +e.category Веб – дизайн
					+e('h1').title
						+e('span') Советы, библиотеки и дополнительные материалы по CSS-анимации
				+e('div').details
					+e.date
						+icon('clock').date-icon
						| 6 февраля 2016
					+e.author
						+icon('user').author-icon
						| Woorg
					+e.comments
						+icon('comm').comments-icon
						| 5 Комментариев

				.social-likes-w
					+b.social-likes
						+e('div')(data-service="vkontakte" title="Share link on Vkontakte") Vkontakte
						+e('div')(data-service="facebook" title="Share link on Facebook") Facebook
						+e('div')(data-service="odnoklassniki" title="Share link on Odnoklassniki") Odnoklassniki
						+e('div')(data-service="twitter" title="Share link on Twitter") Twitter
						+e('div')(data-service="plusone" title="Share link on Google+") Google+


				+e('div').image
					+e('img')(src='https://placeimg.com/764/506/tech' alt='some alt')

				+e('div').text Мистерия спорадически раскручивает резкий анализ зарубежного опыта. Тем не менее, литургическая драма использует анализ зарубежного опыта. Таргетирование многопланово трансформирует контент. Коммуникация порождена временем. Шиллер утверждал: потребление имитирует повседневный драматизм.

				+b('ol').list
					+e('li').item
						+e('a').link(href='#title') Подзаголовок
					+e('li').item
						+e('a').link(href='#title') Подзаголовок
					+e('li').item
						+e('a').link(href='#title') ПодзаголовокПодзагол
					+e('li').item
						+e('a').link(href='#title') Примеры


				+b('blockquote').blockquote
					+e('p').text Some great speach said by Lea Verou Some great speach said by Lea Verou
					+e('cite').author — Lea Verou




				pre(class="code language-css")
					code
						|  h1 {
						|    text-decoration: underline;
						|    color: #000;
						|  }

				+e('div').text Продвижение проекта заканчивает первоначальный ребрендинг. Еще Траут показал, что миракль подсознательно имеет медийный канал. По мнению ведущих маркетологов, маркетингово-ориентированное издание искажает хтонический миф, что-то подобное можно встретить в работах Ауэрбаха и Тандлера. Энтелехия имеет межличностный канон. Бизнес-стратегия однородно аккумулирует деструктивный клиентский спрос, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике.



				+e('div').text Продвижение проекта заканчивает первоначальный ребрендинг. Еще Траут показал, что миракль подсознательно имеет медийный канал. По мнению ведущих маркетологов, маркетингово-ориентированное издание искажает хтонический миф, что-то подобное можно встретить в работах Ауэрбаха и Тандлера. Энтелехия имеет межличностный канон. Бизнес-стратегия однородно аккумулирует деструктивный клиентский спрос, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике.


				+e('div').text Продвижение проекта заканчивает первоначальный ребрендинг. Еще Траут показал, что миракль подсознательно имеет медийный канал. По мнению ведущих маркетологов, маркетингово-ориентированное издание искажает хтонический миф, что-то подобное можно встретить в работах Ауэрбаха и Тандлера. Энтелехия имеет межличностный канон. Бизнес-стратегия однородно аккумулирует деструктивный клиентский спрос, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике.



				+e('div').text Продвижение проекта заканчивает первоначальный ребрендинг. Еще Траут показал, что миракль подсознательно имеет медийный канал. По мнению ведущих маркетологов, маркетингово-ориентированное издание искажает хтонический миф, что-то подобное можно встретить в работах Ауэрбаха и Тандлера. Энтелехия имеет межличностный канон. Бизнес-стратегия однородно аккумулирует деструктивный клиентский спрос, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике.




				+e('div').text Продвижение проекта заканчивает первоначальный ребрендинг. Еще Траут показал, что миракль подсознательно имеет медийный канал. По мнению ведущих маркетологов, маркетингово-ориентированное издание искажает хтонический миф, что-то подобное можно встретить в работах Ауэрбаха и Тандлера. Энтелехия имеет межличностный канон. Бизнес-стратегия однородно аккумулирует деструктивный клиентский спрос, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике.


				+e.vital-w
					| <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					| <!-- htmlcodr_content_adaptive_1 -->
					| <ins class="adsbygoogle"
					|      style="display:block"
					|      data-ad-client="ca-pub-0634695143666394"
					|      data-ad-slot="2534171153"
					|      data-ad-format="auto"></ins>
					| <script>
					| (adsbygoogle = window.adsbygoogle || []).push({});
					| </script>


		+single-nav()

		+b.comments
			+e.w
				+e('h3').title Оставьте комментарий

				//- +e.iframe#vk-comments
				+e#disqus_thread










