.sidebar
	float right
	width 347px
.sidebar-block
	margin-bottom 40px
	padding 25px 30px
	background-color $sidebar-block-bg
	box-shadow 0px 0px 2px 0px rgba( 0, 0, 0, .1)
	&__title
		margin-bottom 30px
		font-weight 400
		font-family $rubik-black
		font-size 18px
		letter-spacing .06px
		line-height 21px
	&__text
		margin-bottom 30px
		font-size 16px
		font-weight 400
		line-height 18px
		// adv block
.vital
	padding 0
	// background-color $sidebar-block-bg
	background-color transparent
	text-align center
	&__title
		margin-bottom 5px
		font-family $rubik-black
		font-size 18px
		font-weight 400
		letter-spacing 0.06px
		line-height 21px
		text-align left
		color $headings-title
		// subscribe block
	&__w
		display inline-block
	&_sticky
		top 0
.subscribe
	background-color #0D47A1
	&__title
		margin-bottom 30px
		font-family $rubik-black
		font-size 26px
		font-weight 400
		letter-spacing 0.06px
		line-height 31px
		color #fff
	&__text
		margin-bottom 30px
		font-size 16px
		font-weight 400
		line-height 23px
		color #FFF
	&__input
		margin-bottom 15px
		border none
		padding 17px 10px
		display block
		width 100%
	&__submit
		border none
		padding 17px 10px
		width 100%
		display block
		background-color $button-subscribe
		font-family $rubik-bold
		text-align left
		color #FFF
		transition background-color .3s ease
		&:hover
			background-color $button-subscribe-hover


.social
	&__title
		font-family $rubik-black
		font-size 26px
		line-height 31px


.tags
	&__title
		margin-bottom 21px
		font-family $rubik-black
		font-size 26px
		line-height 31px


