mixin breadcrumbs()
	+b.breadcrumbs&attributes(attributes)
		+e('ul').list
			+e('li').item
				+e('a').link(href='#link') Htmlcodr.xyz
			+e('li').item
				+e('a').link(href='#link') Wordpress
			+e('li').item
				+e('strong') Советы, библиотеки и дополнительные материалы по CSS-анимации
