include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../scripts/scripts

doctype html
html(lang='ru')
	include ../head/head
	+page
		block content
		script.
			var disqus_config = function () { this.page.url = PAGE_URL; };
			(function() {
				var d = document, s = d.createElement('script');
				s.src = '//htmlcodr.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		noscript Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

		+scripts(['//htmlcodr.disqus.com/count.js','app.min.js'])

