.content
	width ratio-percentage(815,1200)
	float left
	+below(768px)
		width 100%
.article
	margin-bottom 50px
	padding 25px ratio-percentage(25,815) 25px
	background $article-bg
	box-shadow 0px 0px 2px 0px rgba( 0, 0, 0, .1)
	clearfix()
	&__link
		display block
		text-decoration none
		color $text-color

	&__header
		text-align center
	&__category
		margin-bottom 7px
		display inline-block
		font-size 16px
		font-weight 400
		line-height 18px
		color $headings-color
	&__title
		margin-bottom 21px
		// font-family $museo-sans
		font-family $rubik-medium
		font-weight 700
		font-size 42px
		color $color-bg
		line-height 1.2
		text-align left
		overflow hidden
		text-overflow ellipsis
		transition all .1s ease
		+below(768px)
			font-size 26px
		span
			border-bottom 1px solid transparent
			transition all .1s ease
		&:hover
			span
				// border-bottom 1px solid $headings-color2
				border-bottom 1px solid $color-bg
				color $color-bg10
	&__details
		margin-bottom 20px
		font-size 0
		text-align left
		clearfix()
	&__date
		margin-right 48px
		margin-bottom 10px
		display inline-block
		font-size 16px
		color #9E9E9E
	&__date-icon
		margin-right 10px
		display inline-block
		vertical-align bottom
		width 20px
		height 20px
		fill #9E9E9E
	&__author
		margin-right 48px
		margin-bottom 10px
		display inline-block
		font-size 16px
		color #9E9E9E
	&__author-icon
		margin-right 10px
		display inline-block
		vertical-align bottom
		width 20px
		height 20px
		fill #9E9E9E
	&__comments
		margin-right 48px
		margin-bottom 10px
		display inline-block
		font-size 16px
		color #9E9E9E
	&__comments-icon
		margin-right 10px
		display inline-block
		vertical-align bottom
		width 20px
		height 20px
		fill #9E9E9E
	&__image
		margin-bottom 29px
		img
			position relative
			max-width 100%
			height auto
	&__text
		margin-bottom 27px
		font-size 16px
		font-weight 400
		line-height 27px
		+below(768px)
			font-size 15px
	&__bottom
		border-top 1px dashed #ddd
		padding-top 20px
		clearfix()


