include ../pagination/pagination

mixin content()
	+b.content&attributes(attributes)
		+b('article').article
			+e('a').link(href='#article')
				+e('header').header
					//- +e.category Веб – дизайн
					+e('h1').title Советы, библиотеки и дополнительные материалы по CSS-анимации
				+e('div').details
					+e.date
						+icon('clock').date-icon
						| 6 февраля 2016
					+e.author
						+icon('user').author-icon
						| Woorg
					+e.comments
						+icon('comm').comments-icon
						| 5 Комментариев
				+e('div').image
					+e('img')(src='https://placeimg.com/764/506/tech' alt='some alt')

				+e('div').text Мистерия спорадически раскручивает резкий анализ зарубежного опыта. Тем не менее, литургическая драма использует анализ зарубежного опыта. Таргетирование многопланово трансформирует контент. Коммуникация порождена временем. Шиллер утверждал: потребление имитирует повседневный драматизм.

				+e('div').text Комплекс априорной бисексуальности, в первом приближении, сложен. Потребительская база свободна. Культурная аура произведения, следовательно, продолжает стратегический маркетинг. Пушкин подарил Гоголю фабулу "Мертвых душ" не потому, что символический метафоризм имеет биографический метод.

				+e('div').text Продвижение проекта заканчивает первоначальный ребрендинг. Еще Траут показал, что миракль подсознательно имеет медийный канал. По мнению ведущих маркетологов, маркетингово-ориентированное издание искажает хтонический миф, что-то подобное можно встретить в работах Ауэрбаха и Тандлера. Энтелехия имеет межличностный канон. Бизнес-стратегия однородно аккумулирует деструктивный клиентский спрос, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике.

				+e('div').bottom
					+b('a').button._more(href='#') Читать полностью

		+b('article').article
			+e('a').link(href='#article')
				+e('header').header
					//- +e.category Веб – дизайн
					+e('h1').title Советы по написанию библиотек на Rust
				+e('div').details
					+e.date
						+icon('clock').date-icon
						| 6 февраля 2016
					+e.author
						+icon('user').author-icon
						| Woorg
					+e.comments
						+icon('comm').comments-icon
						| 5 Комментариев
				+e('div').image
					+e('img')(src='https://placeimg.com/764/506/tech' alt='some alt')

				+e('div').text Прошел примерно год, как меня заинтересовал Rust, язык программирования от Mozilla Research, сосредоточенный на решении трёх задач: безопасность, скорость и параллелизм. Он такой же низкоуровневый, как Си или C++, имеет хорошую систему типов (с обобщениями (generics) и типажами (traits)), дружелюбный компилятор и отличный менеджер пакетов Cargo. С выпуска Rust 1.0 прошло уже пол года (май 2015): многие библиотеки (пакеты, crates), включая некоторые мои, были опубликованы в центральном регистре crates.io. Вот неплохие практики (еще рановато называть их "лучшими"), которые помогут другим людям находить, использовать и дополнять вашу библиотеку.

				+e('div').bottom
					+b('a').button._more(href='#') Читать полностью

		+b('article').article
			+e('a').link(href='#article')
				+e('header').header
					//- +e.category Веб – дизайн
					+e('h1').title Исследование проблем производительности вызова ClassLoader.getResourceAsStream
				+e('div').details
					+e.date
						+icon('clock').date-icon
						| 6 февраля 2016
					+e.author
						+icon('user').author-icon
						| Woorg
					+e.comments
						+icon('comm').comments-icon
						| 5 Комментариев
				+e('div').image
					+e('img')(src='https://placeimg.com/764/506/tech' alt='some alt')

				+e('div').text Сегодня затраты на ИТ являются существенной частью бюджетов, и, как следствие — компании любых размеров заинтересованы в их сокращении. Ожидается, что ИТ будут приносить больше пользы при меньших затратах. При этом по мере развития все современные компании сталкиваются с вопросом увеличения потребностей в ИТ-ресурсах. В такой ситуации следует обратить внимание на облачные технологии, которые дают возможность модернизации подходов к управлению ИТ-инфраструктурой за счет использования новейших технологий, высокого уровня стандартизации, гибкости внедряемых решений и простоты масштабирования. OpenStack же является одним из самых распространенных решений для организации облачных сред типа Infrastructure as a Service (IaaS).


				+e('div').bottom
					+b('a').button._more(href='#') Читать полностью


		+b('article').article
			+e('a').link(href='#article')
				+e('header').header
					//- +e.category Веб – дизайн
					+e('h1').title Поймай меня если сможешь. Catchers Helpdesk плагин для WordPress
				+e('div').details
					+e.date
						+icon('clock').date-icon
						| 6 февраля 2016
					+e.author
						+icon('user').author-icon
						| Woorg
					+e.comments
						+icon('comm').comments-icon
						| 5 Комментариев
				+e('div').image
					+e('img')(src='https://placeimg.com/764/506/tech' alt='some alt')

				+e('div').text Каждый по-своему понимает, как должна работать Служба поддержки пользователей. Я впервые об этом задумался, когда после футбольного матча в Париже получил письмо, в котором главный тренер команды рассказал мне почему он сделал те или иные замены и поблагодарил меня за то, что я пришел на стадион и поддержал команду.

				+e('div').text Выросший во времена перестройки, я был в шоке. Письмо с подписью главного тренера, да еще и с анализом матча запомнилось мне на всю жизнь.

				+e('div').text Да, покупая билет через интернет, я оставил персональные данные. Да, это была триггерная рассылка от службы маркетинга. Но вы же не будете спорить, что это чертовски хороший пример своевременной и персональной коммуникации. А кто именно коммуницирует – маркетолог или специалист службы поддержки – не так уж и важно для меня, как конечного потребителя. Это зацепило меня.

				+e('div').text С тех пор я искренне верю в то, что работа службы поддержки должна быть организована так, чтобы вызывать подобные чувства у людей. Этим принципом мы и руководствовались при создании плагина.



				+e('div').bottom
					+b('a').button._more(href='#') Читать полностью


		+pagination()
