@font-face {
	font-family: 'rubikblack';
	src: url('../fonts/rubik-black-webfont.eot');
	src: url('../fonts/rubik-black-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/rubik-black-webfont.woff2') format('woff2'),
		url('../fonts/rubik-black-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'rubikbold';
	src: url('../fonts/rubik-bold-webfont.eot');
	src: url('../fonts/rubik-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/rubik-bold-webfont.woff2') format('woff2'),
		url('../fonts/rubik-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'rubikmedium';
	src: url('../fonts/rubik-medium-webfont.eot');
	src: url('../fonts/rubik-medium-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/rubik-medium-webfont.woff2') format('woff2'),
		url('../fonts/rubik-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'rubikregular';
	src: url('../fonts/rubik-regular-webfont.eot');
	src: url('../fonts/rubik-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/rubik-regular-webfont.woff2') format('woff2'),
		url('../fonts/rubik-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'museo_sans_cyrl500';
	src: url('../fonts/museosanscyrl-webfont.eot');
	src: url('../fonts/museosanscyrl-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/museosanscyrl-webfont.woff2') format('woff2'),
		url('../fonts/museosanscyrl-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


$rubik-black = 'rubikblack', Arial, sans-serif;
$rubik-bold = 'rubikbold', Arial, sans-serif;
$rubik-medium = 'rubikmedium', Arial, sans-serif;
$rubik-regular = 'rubikregular', Arial, sans-serif;

$museo-sans = 'museo_sans_cyrl500', Arial, sans-serif;
