$bg	= #f4f4f4;
$header-bg = #0D47A1;
$logo-color = #FFFFFF;
$main-nav-link = #FFFFFF;
$main-nav-link-active = #D0021B;
$article-bg = #fff;

$sidebar-block-bg = #fff;
$sidebar-block-text = #272727;

$headings-color = #272727;
$text-color = #343434;

$button-readmore = #333;
$button-readmore-text = #fff;

$button-subscribe = #4CAF50;
$button-subscribe-hover = #388E3C;
