$bg	= #f4f4f4;

$header-bg = #01579B;
$header-bg2 = #1b9bff;
$header-bg3 = #27587F;

$logo-color = #FFFFFF;
$logo-color-hover = #263238;


$main-nav-link = #FFFFFF;
$main-nav-link-active = #D0021B;
$article-bg = #fff;

$sidebar-block-bg = #fff;
$sidebar-block-text = #272727;

$subscribe-bg = #263238;
$subscribe-bg2 = lighten(#01579B,3);
$subscribe-bg3 = #311B92;
$subscribe-bg4 = #3E7199;
$subscribe-bg5 = #02FFE8;
$subscribe-bg6 = #FF6341; // +
$subscribe-bg7 = #CC1B16; // +
$subscribe-bg8 = #0AC0E8;
$subscribe-bg9 = #02FFE8;
$subscribe-bg10 = #0AE895;
$subscribe-bg11 = #0BFF5F;
$subscribe-bg12 = #4EB1FF;
$subscribe-bg13 = #028FFF;
$subscribe-bg14 = #27587F;
$subscribe-bg15 = #0173CC;
$subscribe-bg16 = #FF221B;
$subscribe-bg17 = #028FFF;
$subscribe-bg18 = #C7CC16;
$subscribe-bg19 = #AEB20A;
$subscribe-bg20 = #263238;





$headings-color = #272727;
$headings-color2 = #263238;

$text-color = #343434;

$button-readmore = #333;
$button-readmore2 = #263238;

$button-readmore-text = #fff;

$button-subscribe = #4CAF50;

$button-subscribe2 = #B71C1C;


$color-bg = #263238;
$color-bg2 = lighten(#01579B,3);
$color-bg3 = #311B92;
$color-bg4 = #3E7199;
$color-bg5 = #02FFE8;
$color-bg6 = #FF6341; // +
$color-bg7 = #CC1B16; // +
$color-bg8 = #0AC0E8;
$color-bg9 = #02FFE8;
$color-bg10 = #0AE895;
$color-bg11 = #0BFF5F;
$color-bg12 = #4EB1FF;
$color-bg13 = #028FFF;
$color-bg14 = #27587F;
$color-bg15 = #0173CC;
$color-bg16 = #FF221B;
$color-bg17 = #028FFF;
$color-bg18 = #C7CC16;
$color-bg19 = #AEB20A;
$color-bg20 = #263238;



// $blue-color = #01579B;
$blue-color = #1b9bff;









