mixin sidebar-single()
	+b.sidebar.sidebar-single&attributes(attributes)

		+b.subscribe.sidebar-block
			+e('h2').title Подпишитесь на обновления
			+e('p').text Введите свою почту и раз в неделю мы будем присылать вам самые популярные материалы
			+e('form').form
				+e('input').input(type='text' placeholder='Введите свою почту')
				+e('input').submit(type='submit' value="Отправить")

		+b.vital
			+e.w
				| <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				| <!-- htmlcodr_sidebar_adaptive_1 -->
				| <ins class="adsbygoogle"
				|      style="display:block"
				|      data-ad-client="ca-pub-0634695143666394"
				|      data-ad-slot="7103971550"
				|      data-ad-format="auto"></ins>
				| <script>
				| (adsbygoogle = window.adsbygoogle || []).push({});
				| </script>

		+b.tags.sidebar-block
			+e('h2').title Тэги
			+e('ul').list
				+b('li').tag
					+e('a').link(href='#')
						+e('span') jquery
				+b('li').tag
					+e('a').link(href='#')
						+e('span') responsive
				+b('li').tag
					+e('a').link(href='#')
						+e('span') productive
				+b('li').tag
					+e('a').link(href='#')
						+e('span') minification
				+b('li').tag
					+e('a').link(href='#')
						+e('span') html5
				+b('li').tag
					+e('a').link(href='#')
						+e('span') css3
				+b('li').tag
					+e('a').link(href='#')
						+e('span') typography
				+b('li').tag
					+e('a').link(href='#')
						+e('span') svg

		+b.social.sidebar-block
			+e('h2').title Подпишитесь на обновления в социальных сетях

			+e#vk-group

		+b.vital._second._sticky
			+e.w
				| <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				| <!-- htmlcodr_sidebar_adaptive_2 -->
				| <ins class="adsbygoogle"
				|      style="display:block"
				|      data-ad-client="ca-pub-0634695143666394"
				|      data-ad-slot="8580704750"
				|      data-ad-format="auto"></ins>
				| <script>
				| (adsbygoogle = window.adsbygoogle || []).push({});
				| </script>

