mixin footer()
	+b.footer&attributes(attributes)
		+e.in
			+e('small').copyright
				| &copy; 2015 Htmlcodr. Все права защищены законом.
			+e.created Сделано
				+e('a').created-icon(href='//freelance.ru/Woorg' target='_blank')
					+icon('hands')
				| by Woorg.
